.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  
  /*
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.right {
  justify-content: end;
}

.center{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

.centercontent{
  
  align-content: center;
  
}

.App-link {
  color: #61dafb;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
}

.column img {
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel {
  
  padding: 1%;
  max-width: 99%;
}

.green {
  color: greenyellow
}

.red {
  color: red
}

.orange {
  color: orange
}

.sidebyside {
  display: flex;
}

.summary {
  color: white;
  background-color:grey;
  margin: 1%;
  padding: 1%;
  font-size: calc(10px + 2vmin);
  display:grid;
  grid-template-columns: 5fr 5fr 1fr;
}

.bio {
  color: white;
  background-color:grey;
  margin: 2%;
  padding: 2%;
  font-size: calc(10px + 2vmin);;
}

.post {
  color: white;
  background-color:grey;
  margin: 2%;
  padding: 2%;
  font-size: calc(10px + 2vmin);;
}

.sidebar {
  min-width: 20%;
  background-color: gray;
  padding: 1%;
}

.display {
  min-width: 70%;
  background-color: lightgrey;
}

.redback {
  background-color: gray;
}

.font10 {
  font-size: 10px;
}

.result {
  width:23%;
  max-height: 25%;
  background-color: gray;
  margin: 0.5%;

}

.comment {
  font-style: italic;
  text-align: center;

}

.analysis {
  text-align: center;

}




